.container {
  padding: 4rem;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 2.5rem;

  grid-template-areas:
    "box1 box1 box1 "
    "box2 box2 box4"
    "box3 box3 box4";
}

.container > div {
  background-color: teal;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 {
  grid-area: box1;
}
.box2 {
  grid-area: box2;
}
.box3 {
  grid-area: box3;
}
.box4 {
  grid-area: box4;
}
