html {
  font-size: 62.5%;
}

.container {
  padding: 4rem;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-auto-rows: 1fr; //1fr of the min-height;
  gap: 4rem;

  grid-template-areas:
    "header header header "
    "div-2nd div-2nd right-side"
    "div-3rd div-3rd right-side";
}

.container > div {
  background-color: teal;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.header {
  grid-area: header;
}
.div-2nd {
  grid-area: div-2nd;
}
.div-3rd {
  grid-area: div-3rd;
}
.right-side {
  grid-area: right-side;
}
