.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3rem;

  grid-template-areas:
    "box1 box1 box1 "
    "box2 box2 box4"
    "box3 box3 box4";
}

.box1 {
  grid-area: box1;
  border: 1px solid black;
  background-color: orangered;
}
.box2 {
  grid-area: box2;
  border: 1px solid black;
  background-color: teal;
}
.box3 {
  grid-area: box3;
  border: 1px solid black;
  background-color: pink;
}

.box4 {
  grid-area: box4;
  border: 1px solid black;
  background-color: green;
}
