*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //this define how much 1rem is.
  //default root font-size value is 16px.
  font-size: 62.5%;
  //this is equal 62.5% of 16px, which is equal 10px if the user hasn't changed the default browser value
  //now our 1rem is equal 10px
}

body {
  box-sizing: border-box;
}
