$color-blue: #3498db;
$color-light-blue: #3498dbb0;
$color-yellow: #f4d03f;
$color-viol: #a569bd;
$color-green: #28b463;
$color-orange: #d35400;
$color-dunno: #a55252;
$color-rosy: rosybrown;
$color-third: rgba(165, 82, 82, 0.5);
