.periodic__table {
  width: 100%;
  margin: 10rem auto;
}

table,
td {
  margin: 0 auto;
  width: 90%;
  border: 1px solid black;
  padding: 3rem;
  border-collapse: separate;
  border-spacing: 20px 20px;

  td {
    padding: 2rem;
    width: 2rem;
    vertical-align: bottom;
    border-radius: 0.5rem;

    &:empty {
      border: 0px;
    }
  }

  tr {
    /* last column from element 1 (helium) until 6 (radon)*/
    &:nth-child(n + 1):nth-child(-n + 6) td:last-child {
      background-color: $color-viol;
    }
    /* column from Fluorine to Astatine */
    &:nth-child(n + 2):nth-child(-n + 6) td:nth-last-child(2) {
      background-color: orange;
    }
    /* column from Oxygen to Selenium */
    &:nth-child(n + 2):nth-child(-n + 4) td:nth-last-child(3) {
      background-color: yellow;
    }
    /* column from Telurium to Polonium */
    &:nth-child(n + 5):nth-child(-n + 6) td:nth-last-child(3) {
      background-color: rgba(165, 82, 82, 1);
    }
    /* column from Nitrogen to Phosphorus */
    &:nth-child(n + 2):nth-child(-n + 3) td:nth-last-child(4) {
      background-color: yellow;
    }

    /* column from Arsenic to Antimony */
    &:nth-child(n + 4):nth-child(-n + 5) td:nth-last-child(4) {
      background-color: rgba(165, 82, 82, 1);
    }

    /* first column from Lithium to Francium*/
    &:nth-child(n + 2):nth-child(-n + 7) td:first-child {
      background-color: $color-blue;
    }

    /* second column from Berylium to Radium*/
    &:nth-child(n + 2):nth-child(-n + 7) td:nth-child(2) {
      background-color: rosybrown;
    }

    /* The big green square in the midle */
    &:nth-child(n + 4):nth-child(-n + 7)
      td:nth-child(n + 3):nth-child(-n + 12) {
      background-color: green;
    }

    /* column from Aluminum to Ununtrium */
    &:nth-child(n + 3):nth-child(-n + 7) td:nth-last-child(6) {
      background-color: rgba(165, 82, 82, 0.5);
    }

    /* column from Tim to Flevorium */
    &:nth-child(n + 5):nth-child(-n + 7) td:nth-last-child(5) {
      background-color: rgba(165, 82, 82, 0.5);
    }

    /* column from Solicum to Germanium */
    &:nth-child(n + 3):nth-child(-n + 4) td:nth-last-child(5) {
      background-color: rgba(165, 82, 82, 1);
    }

    /* Last 2 rows of the table*/
    &:nth-last-child(2) td:nth-child(n + 2):nth-child(-n + 15) {
      background-color: lighten($color: #022716, $amount: 50%);
    }
    &:last-child td:nth-child(n + 2):nth-child(-n + 15) {
      background-color: $color-blue;
    }

    //weirdos guys in the family
    //Hydrogen
    &:first-child td:nth-child(1) {
      background-color: yellow;
    }
    //Boron
    &:nth-child(2) td:nth-last-child(6) {
      background-color: rgba(165, 82, 82, 1);
    }
    //Unonoctium
    &:nth-last-child(3) td:last-child {
      background-color: rosybrown;
    }
    //Ununseptium
    &:nth-last-child(3) td:nth-last-child(2) {
      background-color: $color-blue;
    }
    //Livermorium
    &:nth-last-child(3) td:nth-last-child(3) {
      background-color: $color-viol;
    }
    //Livermorium
    &:nth-last-child(3) td:nth-last-child(4) {
      background-color: orange;
    }
    //Bismuth
    &:nth-last-child(4) td:nth-last-child(4) {
      background-color: rgba(165, 82, 82, 0.5);
    }
    //Carbon
    &:nth-child(2) td:nth-last-child(5) {
      background-color: yellow;
    }
  }
}
