*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  --primary-color: rgba(13, 110, 139, 0.4);
  --overlay-color: rgba(24, 39, 51, 0.85);
}

html {
  font-size: 0.5vw;
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../img/bg.jpg") no-repeat center fixed;
  background-size: auto;
  font-family: Roboto, sans-serif;
}

.wrapper {
  min-height: 90vh;
  height: auto;
}

.header {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
  min-height: 17vh;
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-img {
  width: 50%;
  height: auto;
}

.header__nav {
  padding-left: 1vw;
  font-size: 0.5vw;
  min-height: 17vh;
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-list {
  cursor: pointer;
  width: 25vw;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-item {
  font-size: 1.5rem;
  height: 2rem;
  width: auto;
  list-style: none;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
}

.header__nav-item:hover {
  opacity: 0.8;
}

/* container for the text and phones imgs*/
.content-view {
  margin: 0 auto;
  min-height: 65vh;
  max-width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imgs-wrapper {
  height: 60vh;
  width: 45vw;
  position: relative;
}

.imgs-wrapper__img-1 {
  position: absolute;
  top: 1em;
  left: 8em;
  z-index: 1;
  max-height: 59.2rem;
  max-width: 28.8rem;
  width: 100%;
  height: auto;
}

.imgs-wrapper__img-2 {
  position: absolute;
  top: 0;
  right: 26em;
  z-index: auto;
  max-height: 59.2rem;
  max-width: 28.8rem;
  width: 100%;
  height: auto;
}

.text-wrapper {
  padding: 5vw 0;
  padding-left: 5vw;
  height: 60vh;
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
}

.text-wrapper__header {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.4;
}

.text-wrapper__sub-header {
  line-height: 1.5;
  font-size: 1.6rem;
  font-weight: 500;
}

.buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  font-weight: 600;
  font-size: 1.6rem;
}

.buttons-wrapper__btn-learn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10vw;
  height: 5rem;
  color: white;
  background-color: #4bbf58;
  border-radius: 5px;
  cursor: pointer;
}

.buttons-wrapper__btn-learn:hover {
  opacity: 0.8;
}

.buttons-wrapper__btn-get {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10vw;
  height: 5rem;
  color: white;
  background-color: #3397db;
  border-radius: 5px;
  cursor: pointer;
}

.buttons-wrapper__btn-get:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 0.6vw;
  }
  .header,
  .content-view {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */