*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary-color: rgba(13, 110, 139, 0.4);
  --overlay-color: rgba(24, 39, 51, 0.85);
}

html {
  //this define how much 1rem is.
  font-size: 0.5vw;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background: url("../img/bg.jpg") no-repeat center fixed;
  background-size: auto;
  font-family: Roboto, sans-serif;
}

.wrapper {
  //border: 1px solid red;
  min-height: 90vh;
  height: auto;
}

.header {
  //border: 5px solid black;
  min-height: 20vh;
  display: flex;
  align-items: center; //align-items in the cross axis
  justify-content: center;

  &__logo {
    //border: 1px solid yellowgreen;
    min-height: 17vh;
    width: 30vw;
    display: flex;
    align-items: center;

    &-img {
      width: 50%;
      height: auto;
    }
  }

  &__nav {
    padding-left: 1vw;
    font-size: 0.5vw;
    // border: 1px solid yellowgreen;
    min-height: 17vh;
    width: 30vw;
    display: flex;
    align-items: center;

    &-list {
      cursor: pointer;
      //border: 1px solid red;
      width: 25vw;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-item {
      //border: 1px solid white;
      font-size: 1.5rem;
      height: 2rem;
      width: auto;
      list-style: none;
      text-transform: uppercase;
      color: white;
      font-weight: 500;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

/* container for the text and phones imgs*/
.content-view {
  margin: 0 auto;
  min-height: 65vh;
  max-width: 70vw;
  //border: 5px solid green;
  display: flex;
  justify-content: center;
}

.imgs-wrapper {
  //border: 1px solid red;
  height: 60vh;
  width: 45vw;
  position: relative;

  &__img-1 {
    position: absolute;
    top: 1em;
    left: 8em;
    //border: black 1px solid;
    z-index: 1;
    max-height: 59.2rem;
    max-width: 28.8rem;
    width: 100%;
    height: auto;
  }

  &__img-2 {
    position: absolute;
    top: 0;
    right: 26em;
    z-index: auto;
    max-height: 59.2rem;
    max-width: 28.8rem;
    width: 100%;
    height: auto;
  }
}

.text-wrapper {
  //border: 1px solid red;
  padding: 5vw 0;
  padding-left: 5vw;
  height: 60vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;

  &__header {
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.4;
  }

  &__sub-header {
    line-height: 1.5;
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.buttons-wrapper {
  //border: 2px dashed red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  font-weight: 600;
  font-size: 1.6rem;

  &__btn-learn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 5rem;
    color: white;
    background-color: #4bbf58;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }

  &__btn-get {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 5rem;
    color: white;
    background-color: #3397db;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 0.6vw;
  }
  .header,
  .content-view {
    display: none;
  }
}
