body {
  background-color: white;
}

hr {
  width: 90%;
}

.page {
  margin: auto;
  background-color: whitesmoke;
  width: 80%;
  height: auto;
  h1 {
    font-size: 2em;
    text-align: left;
    font-style: italic;
    margin-left: 1.5em;
  }
  p {
    font-size: x-large;
    margin: 2em;
  }
}
